<html>
<h2>Live counter fresh from speakout for your deliveries</h2>
<p>You want to display a live counter of your petition, but don't want to carry a big screen?</p>
<p>Fear not, we have the solution: put several activists together -one per digit you want to display, so unless you have more than a million signatures, 6 are enough- and ask them to bring their phone or tablet.</p>
<p>put them next to each other, showing their phone, each a specific digit. This little app makes sure they are nicely synchronised.</p>
<p>Ready? <a href="/campaigns">find the counter for your campaign</a>, share the link with the volunteers and you're ready in no time. Have fun, change the world, we need it.</p>
</html>
